body{
    font-family: cursive;
}

h1, h2, h3{
    margin: 0;
    font-family: cursive;
    font-weight: 700;
}

p{
    font-family: cursive;
}

.container{
width: 100%;
}

.logo img{
    border-radius: 25%;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #708090;
    padding: 30px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
/*Header*/
header{
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}
header p{
    margin-bottom: 2em;
    font-size: 1.7em;
}
.botao{
    color: #000;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #fff;
    font-size: .9em;
    border-radius: 10%;
}
/* Sobre mim*/
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #708090;
    color: #fff;
}
#sobre h2{
    margin-top: 20px;
    font-size: 2em;
}

.foto img{
    width: 50%;
    border-radius: 25%;
}
.foto{
    float: left;
    width: 50%;
    
}
.texto{
    float: right;
    width: 50%;
}
#especialidades {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
#especialidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
#especialidades p{
    line-height: 1.5;
    margin: 2vh;
    font-size: 1.2em;
}
#especialidades img{
    margin: 10px 0;
}
#especialidades h2{
    font-size: 2em;
}
#competencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#competencias h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
}
#competencias h3,p {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}
#competencias a{
    text-decoration: none;
}
#competencias img{
    width: 75%;
    margin-bottom: 0;
    align-items: center;
}
#competencias .comp p{
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 20%;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.5;
}

@media screen and (min-width: 768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
header{
    height: 600px;
    justify-content: center;

}
#sobre{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
    justify-content: center;
    min-height: 80vh;

}
#sobre h2{
    text-align: center;
    width: 100%;
}
#sobre div{
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0 10px;
}
#especialidades {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
#especialidades h2{
    text-align: center;
    width: 100%;
}
#especialidades div{
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
}
#competencias {
    flex-direction: row;
    flex-wrap: wrap;
}
#competencias h2, h3{
    width: 100%;
    text-align: center;
}
#competncias .comp{
    width: 33,3333333333%;
    text-align: center;
}

}