body{
    font-family: cursive;
}

h1, h2, h3{
    margin: 0;
    font-family: cursive;
    font-weight: 700;
}

p{
    font-family: cursive;
}

.logo img{
    border-radius: 25%;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #708090;
    padding: 30px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 768px){
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
}